/*
header {
	text-align: center;
	font-family: cursive;
}

nav ul {
  list-style: none;
  background-color: #ffffff;
  text-align: center;
  padding: 2px;
  margin: 0;
}

nav li {
    width: 15%;
    border-color: #ffffff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    display: inline-block;
  }

nav li:last-child{
	    border-right: none;
}

nav li li{
	    border-right: none;
}

nav a {
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  font-variant: all-small-caps;
  color: #000000;
  display: block;
  transition: .5s background-color;
}

nav a:hover {
  background-color: #e4fbc9;
}

nav a.active {
  background-color: #81d422;
  color: #444;
  cursor: default;
}
*/
/* Sub Menus */
/*
nav li li {
  font-size: 80%;
  width: fit-content;
}

nav > ul > li {
   text-align: center;
}

nav > ul > li > a {
    padding-left: 0;
}
*/
/* Sub Menus */
/*
nav li ul {
    position: absolute;
    display: none;
}

nav li:hover ul {
   display: block;
}

nav li ul li {
   display: block;
 }
*/


/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

.container {
  max-width: 60rem;
}

.navbar {
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 2rem;
  }
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 1.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/* Sidebar modules for boxing content */

.sidebar-module {
  padding: 1rem;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 20rem;
  background-color: #777;
  margin: auto;
}
.carousel-item > img {
  /*position: absolute;*/
  top: 0;
  margin: auto;
  min-width: 40%;
  height: 20rem;
}