/*
header {
	text-align: center;
	font-family: cursive;
}

nav ul {
  list-style: none;
  background-color: #ffffff;
  text-align: center;
  padding: 2px;
  margin: 0;
}

nav li {
    width: 15%;
    border-color: #ffffff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    display: inline-block;
  }

nav li:last-child{
	    border-right: none;
}

nav li li{
	    border-right: none;
}

nav a {
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  font-variant: all-small-caps;
  color: #000000;
  display: block;
  transition: .5s background-color;
}

nav a:hover {
  background-color: #e4fbc9;
}

nav a.active {
  background-color: #81d422;
  color: #444;
  cursor: default;
}
*/
/* Sub Menus */
/*
nav li li {
  font-size: 80%;
  width: fit-content;
}

nav > ul > li {
   text-align: center;
}

nav > ul > li > a {
    padding-left: 0;
}
*/
/* Sub Menus */
/*
nav li ul {
    position: absolute;
    display: none;
}

nav li:hover ul {
   display: block;
}

nav li ul li {
   display: block;
 }
*/

.navbar {
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

